extends layout

block content
  h1= title

  form(id='vechileForm', action="/resource/vechile", method="POST")
    div.form-group
        label.costumeAttr(for='vechilename') vechile Name
        input#costumetype(type='text', name='vechilename')
    div.form-group
        label.costumeAttr(for='model') vechile Model
        input#size(type='text', name='model')
    div.form-group
        label.costumeAttr(for='classi') vechile Classification
        input#cost(type='text', name='classi')
    div.form-group
        label.costumeAttr(for='price') vechile Price
        input#cost(type='number', name='price')
    input(type="submit")

  script.
    document.forms['vechileForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });